language: ruby
cache: bundler
rvm:
  - 2.4.1

install:
  - bundle install
  - gem install jekyll html-proofer jekyll-seo-tag jekyll-paginate jekyll-admin

script:
  - bundle exec jekyll build
  - htmlproofer ./_site/ --disable-external

sudo: false

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
