language: ruby
cache: bundler
rvm:
  - 2.4.1

install:
  - rake geminstall
  - gem install jekyll html-proofer jekyll-seo-tag jekyll-paginate jekyll-admin

script:
  - jekyll build 

sudo: required

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
