language: ruby
cache: bundler
rvm:
  - 2.4.1

install:
  - rake geminstall
  - gem install jekyll html-proofer

script:
  - jekyll build && htmlproofer ./_site

sudo: false

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
