language: ruby
cache: bundler
rvm:
  - 2.4.1

before_install:
- openssl aes-256-cbc -K $encrypted_5aa6e966fb1b_key -iv $encrypted_5aa6e966fb1b_iv
  -in key.json.enc -out key.json -d

install:
  - gem install bundler
  - bundle install

script:
  - bundle exec jekyll build

deploy:
  provider: gae
  keyfile: key.json
  project: afnan-gapps

